.product {
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-items: center;
  box-sizing: border-box;
  justify-content: flex-end;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.product__rating {
  display: flex;
}
.right_side > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.right__side{
  display: flex;
  flex-direction: column;
}

.right_side > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: yellow;
  color: #111;
  align-self: center;
  justify-self: center;
}

/* ======== Media Query ============ */

@media only screen and (max-width: 650px) {
  .product > img {
    width: 58%;
  }

  .product{
    box-sizing:border-box;
    margin: 4px;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
}